/* Mobile CSS */
.container, .about_me, .my_service, .col-horizontal, .work-items{
  display:flex;
  flex-flow: column wrap;
}

.about_me{
justify-content: flex-start;
align-content: center;
}

.my_service{
justify-content: flex-start;
}

.col-horizontal{
justify-content: flex-start;
align-content: center;
}

.work-items{
justify-content: flex-start;
align-content: center;

}
.container_table_cell h2 {
  color: #fff;
  font-size: 1em;
}