/*====================== 01. Basic Setting ======================*/
html, body {
  width: 100%;
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
  padding: 0px;
}

ul, ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a, a:hover, a:focus {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

section{
  padding: 100px 0;
}

.container {
  width: 90%;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}

/*====================== 02. Header ======================*/

header{
  position: fixed;
  left: 0;
  right: 0;
  background-color: whitesmoke;
  z-index: 100;
}

#nav {
  float: left;
}

#nav li {
display: inline-block;
}

#nav li a {
  color: rgb(46, 46, 46);
  display: block;
  padding: 10px 24px;
}

#medialink{
  float: right;
}

#medialink li{
  display: inline-block;
  padding: 5% 0%;
}

#medialink li img {
    width: 70%;
    height: auto;
}


.logo_center{
  display: table;
  width: 20%;
  height: 20%;
  position: relative;
}

#logo{
    display:table-cell;
    position: relative;
    vertical-align: middle;
    width: 10%;
}

.menu-button {
 display: none;
  }

.menu-button-checkbox {
  display: none;
}

/*====================== 03. Homepage Background Image ======================*/

.home_bg {
  background-image: url(../images/cover01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

.container_table {
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
}

.container_table_cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.container_table_cell h2 {
  color: #fff;
  font-size: 24px;
}

.social_icons a {
  color: #fff;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 30px;
  margin-right: 10px;
}

.overlay{
  background: rgba(0,0,0,0.3);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height:100%;
}

/*====================== 04. About Me ======================*/

h2{
  margin-bottom: 60px;
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  text-transform: capitalize;
  letter-spacing: 2px;
}

.col-left, .col-right{
  float: left;
  width: 50%;
  padding: 0 15px;
}

.personal-info h3{
  font-size: 15px;
  letter-spacing: 2px;
  margin-bottom: 6px;
  text-transform: capitalize;
}

.personal-info p {
  color: #767676;
  line-height: 24px;
  text-align: justify;
}

.skill{
  margin: 30px auto;
}

/* .skill ul{
  list-style-image:url("gesture.svg"); 
} */
.skill li{
  font-size: 15px;
  line-height: 30px;
  text-transform: capitalize;
  list-style: square;
}

.button-group .download_cv, .button-group .hire_me {
  display: inline-block;
}

.button-group .download_cv {
  margin-right: 18px;
}

.button-group a {
  display: block;
  color: #000;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 10px 38px;
  text-transform: capitalize;
}

.button-group a:hover {
  background: #000;
  color: #fff;
  -webkit-transition: all .4s linear;
  -moz-transition: all .4s linear;
  -ms-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}


/* what I offer */
.my_service{
  background-color: #f9f9f9;
}

.service-content{
  float: left;
  width:33.3333333%;
  padding: 0 15px;
}

.service-content i{
  font-size: 30px;
  line-height: 46px;
}

.service-content h3{
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 13px;
  margin-bottom: 8px;
  text-transform: capitalize;
}

.service-content p{
  color: #767676;
  font-size: 14px;
  /* font-weight(字型尺寸) normal/bold/lighter/400 */
  font-weight: lighter;
  line-height: 24px;
}

/* Resume */
.col-horizontal{
  padding-bottom: 16px;
  border-bottom: 1px dotted #767676;
}

.col-horizontal:last-child{
  border-bottom: 0;
}

h3.resume-subtitle{
  font-size: 20px;
  margin-left: 15px;
  margin-top: 12px;
  text-transform: capitalize;
}

.col-horizontal .col-item{
    float: left;
    width: 50%;
    padding: 0 15px;

}

.experience-year{
    background-color: #000;
    margin-top: 12px;
    padding: 4px 20px;
    display: inline-block;
    color: white;

}

.resume-detail h4 {
  font-size: 16px;
  line-height: 30px;
  text-transform: capitalize;
}

.resume-detail h6 {
  font-size: 12px;
  margin-bottom: 9px;
  text-transform: capitalize;
}

.resume-detail p {
  line-height: 22px;
}

/* Quote */
.quote{
  background-image: url(../images/cover03.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  width: 100%;
}

.quote-inner {
  color: #fff;
  text-align: center;
}

.quote-inner h3 {
  font-size: 28px;
  text-transform: capitalize;
}

.quote-inner p {
  font-size: 16px;
  margin-top: 12px;
}

.quote-inner a {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 12px 49px;
  display: inline-block;
  margin-top: 22px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.quote-inner a:hover {
  background: rgb(241, 241, 241, 0.3);
  color: #fff;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

/* lattest work */
.works{
  background-color: #f7f7f7;
}

.col-work{
  float: left;
  width: 33.33333333%;
  padding: 10px 10px;
  
}

.col-work img{
    width: 100%;
    height: 250px;
    /* border-radius:50%; */
    object-fit: cover;
}
  
.col-work a{
  display: block;
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition: .2s linear;
  -moz-transition: .2s linear;
  -ms-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
}

.col-work a:hover {
  box-shadow: 0 16px 22px 0 rgba(90, 91, 95, 0.3);
  top: -5px;
}

/* contac me */

#contact{
background-color: #ffffff;

}
.contact-form {
  width: 65%;
  margin: 0 auto;
  text-align: center;
}

.contact-form .form-input:first-child,
.contact-form .form-input:nth-child(2)
{
  float: left;
  width: 50%;
  padding: 0 15px;
}


.contact-form input.form-style {
  width: 100%;
  border: none;
  border-bottom: 1px solid #333;
  text-transform: capitalize;
  padding-bottom: 19px;
  margin-bottom: 12px;
  outline: none;
}

.contact-form textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #333;
  outline: none;
  padding: 10px 30px;
}

.form-submit {
  text-align: left;
  padding: 0 15px;
}

.form-submit input {
  font-size: 12px;
  text-transform: capitalize;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 12px;
  padding: 10px 40px;
  margin-top: 16px;
  margin-bottom: 14px;
  cursor: pointer;
  -webkit-transition: .4s linear;
  -moz-transition: .4s linear;
  -ms-transition: .4s linear;
  -o-transition: .4s linear;
  transition: .4s linear;
}

.form-submit input:hover {
  background-color: #000;
  color: #fff;
}

footer {
  padding: 80px 0;
  background-color: #000;
  color: #fff;
  text-align: center;
}

.footer-content p {
  line-height: 22px;
}

.footer-social-icon a i {
  color: #fff;
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  margin-top: 15px;
  margin-right: 15px;
}




/* mobile css is here */

@media screen and (max-width: 600px) {

/* basic setting */

section{
  padding: 40px 0;
}

/* 01-hamburger menu style */
 .menu-button {
    display: inline;
    float: left;
    font-size: 25px;
    line-height: 40px;
    color: #524B57;
    background: transparent;
    border: 0;
  }

  .menu-button:hover{
    color: rgb(0, 162, 184);
    -webkit-transition: all .3s linear; 
    -moz-transition: all .3s linear; 
    -ms-transition: all .3s linear; 
    -o-transition: all .3s linear; 
    transition: all .3s linear;
  }

  .menu-button-checkbox { 
    display: inline-flex;
    width: 52px;
    height: 40px;
    margin: 0 0 0 -40px;
    opacity: 0;
  }

  .menu-button-checkbox:checked ~ nav #nav{
    display: block;
  }

  #nav {
    display: none;
    position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
    background-color: #222;
  }

  #nav li {
    display: block;
    text-align: center;
    padding: 7px 0;
    border-bottom: 1px solid #333;
  }

  #nav li a {
    padding: 20px 12px;
    color: #ffffff;
  }


/* homepage */

.home_bg{
  background-size: cover;
  height: 400px;
}

.home_bg .overlay{
  height:400px;
}

.container_table_cell h2 {
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: inherit;
}

.social_icons a {
  margin-top: 8%;
  width: 60px;
}

/* about me */
.summary{
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: space-evenly;  
  align-items: center;
}

.col-left,  .col-right{
  width: 100%;
  padding: 20px 15px;
}

.personal-info h3 {
  font-size: 1.3em;
}

.personal-info p {
  font-size: 1.1em;
  line-height: 28px;
}

.button-group .download_cv, .button-group .hire_me {
  display: flex;
  flex-flow: row wrap;
  margin: 2px;
  padding: 4px;
}

.button-group a {
  text-align: center;
  width: 100%;
  padding: 12px;
  margin: 4px;
}

h2{
  margin-bottom: 10px;
  font-size: 30px;
}


/* what i offer */

.service-items{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
}

.service-content{
  width: 100%;
  padding: 15px 15px;
}

/* lattest work */
.work-items{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.col-work{
  width: 100%;
  padding: 20px 10px;
}

/* resume */

.col-horizontal{
  display: flex;
  flex-flow: row wrap;
}

.col-horizontal .col-item{
    width: 100%;
    padding: 15px 15px;
}

.resume-detail h4 {
  font-size: 1.2em;
}

.resume-detail h6 {
  font-size: 1.1em;
  margin-bottom: 10px;

}

.resume-detail p {
  font-size: 1.1em;
  line-height: 28px;
}

/* contact me */

.contact-form {
  width: 100%;
}

.contact-form .form-input:first-child,
.contact-form .form-input:nth-child(2)
{
  width: 100%;
  padding: 15px 15px;
}

.form-submit input{
  width: 100%;
  padding: 20px 40px;
  margin-top: 20px;
  font-size: 1em; 
}

/* footer */

.footer-social-icon a i {
  font-size: 20px;
  padding: 10px;
}